html>body {
	height: 100%;
	width: 100%;
	background-image: url("https://raw.githubusercontent.com/ccnovoa11/weathercyclo/master/client/img/Background.jpg") !important;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.map {
  width: 800px;
  max-width: 100%;
  height: 500px;
}

h1{
	font-family: 'Titan One', cursive !important;
	font-size: 4vh;
}

h4{
	font-family: 'Titan One', cursive !important;
	font-size: 2.3vh;
	text-align: center;
}

p {
	font-size: 2.1vh;
	font-family: 'Nunito', sans-serif;
	border-style: inset;
	border-color: grey;
}

p.zonaComentario {
	font-size: 3vh;
	font-family: 'Nunito', sans-serif;
	border-style: none;
}