html>body {
	height: 100%;
	width: 100%;
	background-image: url("https://raw.githubusercontent.com/ccnovoa11/weathercyclo/master/client/img/Background.jpg") !important;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.time{
	text-align: center;
}

.form{
	width: 300px;
}

#thermo {
  max-height: 600px;

  margin: 0 auto; /* poor attempt at centering */

  height: auto !important; /* overrides inline */
  width: auto !important; /* overrides inline */

  max-width: 335px;
  display: block;
}

h1{
	font-family: 'Titan One', cursive !important;
	font-size: 4vh;
}

h4{
	font-family: 'Titan One', cursive !important;
	font-size: 2.3vh;
	text-align: center;
}

p {
	font-size: 2.1vh;
	font-family: 'Nunito', sans-serif;
	border-style: inset;
	border-color: grey;
}